

.register-page {
    /* max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px; */
    --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  width: 400px;
  padding:  30px;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 8px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  }
  
  .register-page h2 {
    /* text-align: center; */
 
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    padding: 20px;
    background: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
  }
  
  
  
  
  .register-page form {
    display: flex;
    flex-direction: column;
  }
  
  .register-page label {
    margin: 0.5rem 0 0.2rem;
  }
  
  .register-page input {
    /* padding: 0.5rem;
    margin-bottom: 1rem; */
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }
  
  .register-page button {
    /* padding: 0.7rem;
    background-color: teal;
    color: white;
    border: none;
    cursor: pointer; */
    margin: 50px auto 0 auto;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  
  }
  
  .register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height */
    background-color: #e8e8e8; /* Optional for whole page bg */
  }

  .register-page button:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 6px 6px var(--main-color);
    transform: translate(-2px, -2px);
    transition: all 0.25s ease;
  }
  